<h3>The Car Rent is ready</h3>
<p>
  This is just to let you know that your cars are ready:
</p>
<table>
  <tr><th colspan= "2" >Hours</th><th>Description</th></tr>
  <%= render @order. line_items -%>
</table>