// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cars {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width: 250px;
    height: 200px;
  }

  .list_description {
    width: 60%;
    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }
}
.list_actions {
  font-size:
          x-small;
  text-align:
          right;
  padding-left: 1em;
}
.list_line_even {
  background: darkgrey;
}
.list_line_odd {
  background: silver;
}