// Place all the styles related to the Rent controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.rent {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;

  }

  /* An entry in the store catalog */

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #77d;
    min-height: 100px;

    .car_avatar {
      max-width: 400px;
      max-height: 200px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: relative;
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }
    h5 {
      font-size: 110%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: dodgerblue;
    }
    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
      form, div {
        display: inline;
      }
      input[type="submit"] {
        background-color: #211717;
        border-radius: 0.354em;
        border: solid thin #141;
        color: white;
        font-size: 1em;
        padding: 0.354em 1em;
      }
    }

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;

    }
  }
}